<main>
    <div class="cardContainer">
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/equipment_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">100</p>
            <p class="titre"><br>Equipements</p>
        </div>
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/type_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">3</p>
            <p class="titre">Type<br>Equipements</p>
        </div>
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/elec_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">50</p>
            <p class="titre">Electriciens</p>
        </div>
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/admin_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">10</p>
            <p class="titre">Administrateur</p>
        </div>
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/user_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">150</p>
            <p class="titre">Utilisateurs</p>
        </div>
        <div class="card">
            <div class="cardIconDiv">
                <div class="iconDiv">
                    <img src="../../../assets/dim_icon.png" alt="" srcset="">
                </div>
            </div>
            <p class="somme">10000</p>
            <p class="titre">Dimensionnements</p>
        </div>
    </div>
    <div class="chartDiv">
        
    </div>
</main>