<div class="logoDiv">
    <img class="logo" src="../../assets/logo_deme.png" alt="" srcset="">
    <div class="titre">
        <p>PANNEAU</p>
        <p>DEME</p>
    </div>
</div>

<main>
    <div class="bodySection">
        <div>
            <p class="leftText">Créer un nouveau<br>
                Mot de passe</p>
            <p class="leftSubText">Veuiilez entre un nouveau mot de passe,<br>
                elle doit contenir au moins<br>
                six (6) caractères</p>
        </div>
        <div class="container">
            <div class="titreText">
                <p>PANNE</p>
                <p>
                    AU <br>
                    DEME
                </p>
            </div>
            <form id="myForm">
                <div class="champ_input">
                    <input type="text"  class="input_focus" id="motDePasse" placeholder="" >
                    <label for="motDePasse" class="label">Mot de passe</label>
                </div>
                <div class="champ_input">
                    <input type="text"  class="input_focus" id="confirmation" placeholder="" >
                    <label for="confirmation" class="label">Confirmation</label>
                </div>
                <input class="btnReset" type="button" value="Réinitialiser">
            </form>
        </div>
    </div>
</main>