<div class="logoDiv">
    <img class="logo" src="../../assets/logo_deme.png" alt="" srcset="">
    <div class="titre">
        <p>PANNEAU</p>
        <p>DEME</p>
    </div>
</div>

<main>
    <div class="bodySection">
        <div>
            <p class="leftText">Code de vérification</p>
            <p class="leftSubText">Entrez le code de vérification è six (6)<br>
                qui vous a été envoyer à votre<br>
                adresse email</p>
        </div>
        <div class="container">
            <div class="titreText">
                <p>PANNE</p>
                <p>
                    AU <br>
                    DEME
                </p>
            </div>
            <form id="myForm" [formGroup]="formValidCode" (ngSubmit)="onSubmit()">
                <div class="champ_input">
                    <input [ngStyle]="{'border': submitted && f['code'].errors ? '1px solid red' : null}" type="number"  class="input_focus" id="code" placeholder="" formControlName = "code" >
                    <label for="code" class="label">Code de verification</label>
                </div>
                <div *ngIf="submitted && f['code'].errors" class="errorDiv">
                    <span *ngIf="submitted && f['code'].errors!['required']">Code requit</span>
                    <span *ngIf="submitted && f['code'].errors!['incorrect']">Code incorrectt</span>
                </div>
                <p class="forgotText" (click)="resendCode()" >Code non reçu ?</p>
                <input class="btnVerifier" type="submit" value="Verifier">
            </form>
        </div>
    </div>
</main>