<!----------------------------------------- Dialogue de confirmation de suppression ------------------------------------->

<main *ngIf="data.action == 'disable'">
    <p *ngIf="data.electricien.active == true " class="message">Voulez-vous vraiment désactivé cet<br>électricien ?<br>{{data.electricien.nom}} {{data.electricien.prenom}}</p>
    <p *ngIf="data.electricien.active == false " class="message">Voulez-vous vraiment activé cet<br>électricien ?<br>{{data.electricien.nom}} {{data.electricien.prenom}}</p>
    <div class="btnGroupe" >
        <input class="ok" type="button" value="Oui" (click) = "supprimer()" >
        <input class="no" type="button" value="Non" (click) = "closeDialog()" >
    </div>
</main>

<!----------------------------------------- Formulaire d'ajout et de modificatio ------------------------------------->

<form *ngIf="data.action != 'disable'" class="equipementForm" [formGroup]="formElectricien" (ngSubmit)="onSubmit()" >
    <div class="imageDiv">
        <div *ngIf="data.action == 'ajout'" id="imgProfil" [ngStyle]="{'border': submitted && f['file'].errors ? '1px solid red' : null}"></div>
        <div *ngIf="data.action == 'modif'" id="imgProfil" [style]="data.electricien.photo != undefined ? 'background-image: url(http://localhost'+data.electricien.photo+');' : 'background-image: url(../../../assets/banner_img.jpg);'" [ngStyle]="{'border': submitted && f['file'].errors ? '1px solid red' : null}"></div>
        <input id="btnPhoto" type="button" (click)="readURL()" value="Photo" >
    </div>
    <div class="champ_input">
        <input [ngStyle]="{'border': submitted && f['nom'].errors ? '1px solid red' : null}" type="text"  class="input_focus" id="nom" placeholder="" formControlName="nom">
        <label for="nom" class="label">Nom</label>
    </div>
    <div *ngIf="submitted && f['nom'].errors" class="errorDiv">
        <span *ngIf="submitted && f['nom'].errors!['required']">Nom requit</span>
        <span *ngIf="submitted && f['nom'].errors!['minlength']">Nom inférieur à quatre(4) caractères</span>
    </div>
    <div class="champ_input">
        <input [ngStyle]="{'border': submitted && f['prenom'].errors ? '1px solid red' : null}" type="text"  class="input_focus" id="prenom" placeholder="" formControlName="prenom">
        <label for="prenom" class="label">Prenom</label>
    </div>
    <div *ngIf="submitted && f['prenom'].errors" class="errorDiv">
        <span *ngIf="submitted && f['prenom'].errors!['required']">Prenom requit</span>
        <span *ngIf="submitted && f['prenom'].errors!['minlength']">Prenom inférieur à quatre(4) caractères</span>
    </div>
    <div class="champ_input">
        <input [ngStyle]="{'border': submitted && f['experience'].errors ? '1px solid red' : null}" type="number"  class="input_focus" id="experience" placeholder="" formControlName="experience" >
        <label for="experience" class="label">Expérience</label>
    </div>
    <div *ngIf="submitted && f['experience'].errors" class="errorDiv">
        <span *ngIf="f['experience'].errors!['minlength']">Puissance est inferieur à 0</span>
        <span *ngIf="f['experience'].errors!['required']">Puissance requit</span>
    </div>
    <div class="champ_input">
        <input [ngStyle]="{'border': submitted && f['email'].errors ? '1px solid red' : null}" type="email"  class="input_focus" id="email" placeholder="" formControlName="email">
        <label for="email" class="label">Email</label>
    </div>
    <div *ngIf="submitted && f['email'].errors" class="errorDiv">
        <span *ngIf="submitted && f['email'].errors!['required']">Email requit</span>
        <span *ngIf="submitted && f['email'].errors!['email']">Email non valid</span>
        <span *ngIf="submitted && f['email'].errors!['incorrect']">Email incorrectt</span>
    </div>
    <div class="champ_input">
        <input [ngStyle]="{'border': submitted && f['telephone'].errors ? '1px solid red' : null}" type="tel"  class="input_focus" id="telephone" placeholder="" formControlName="telephone" >
        <label for="telephone" class="label">Telephone</label>
    </div>
    <div *ngIf="submitted && f['telephone'].errors" class="errorDiv">
        <span *ngIf="f['telephone'].errors!['minlength']">Telephone est inferieur à 0</span>
        <span *ngIf="f['telephone'].errors!['required']">Telephone requit</span>
    </div>
    <div class="coordonneeDiv">
        <div class="coorSubDiv">
            <div class="champ_input">
                <input [ngStyle]="{'border': submitted && f['latitude'].errors ? '1px solid red' : null}" type="tel"  class="input_focus" id="latitude" placeholder="" formControlName="latitude" >
                <label for="latitude" class="label">Latitude</label>
            </div>
            <div *ngIf="submitted && f['latitude'].errors" class="errorDiv">
                <span *ngIf="f['latitude'].errors!['minlength']">Telephone est inferieur à 0</span>
                <span *ngIf="f['latitude'].errors!['required']">Latitude requit</span>
            </div>
        </div>
        <div class="coorSubDiv">
            <div class="champ_input">
                <input [ngStyle]="{'border': submitted && f['longitude'].errors ? '1px solid red' : null}" type="tel"  class="input_focus" id="longitude" placeholder="" formControlName="longitude" >
                <label for="longitude" class="label">Longitude</label>
            </div>
            <div *ngIf="submitted && f['longitude'].errors" class="errorDiv">
                <span *ngIf="f['longitude'].errors!['minlength']">Telephone est inferieur à 0</span>
                <span *ngIf="f['longitude'].errors!['required']">Longitude requit</span>
            </div>
        </div>
    </div>
    <input id="file" type="file" formControlName="file">
    <div class="btnGroup">
        <input class="btnAjouter" type="submit" [value]="data.action == 'ajout' ? 'Ajouter' : 'Modifier'" >
        <input class="btnAnnuler" type="button"  value="Annuler" (click)="closeDialog()">
    </div>
</form>