<main>
    <header>
        <div class="headerBarDiv">
            <div class="searchInputAndIconDiv">
                <div class="searchIconDiv">
                    <img class="searchIcon" src="../../../assets/search_icon.png" alt="" srcset="">
                </div>
                <input class="searchInput" type="text" placeholder="Recherche" [(ngModel)]="searchValue" (keyup)="search()" >
            </div>
        </div>
        <div class="headerBarDiv sortAndAdd" >
            <div class="searchInputAndIconDiv sortAndAddOutlineDiv">
                <div class="searchIconDiv sortAndAddIconDiv">
                    <img class="searchIcon" src="../../../assets/sortIscon.png" alt="" srcset="">
                </div>
                <select class="selectTag" name="type" id="mat-select" [(ngModel)]="sortValue" (change)="sort()">
                    <option value="all" >Trier par</option>
                    <option value="true" >Active</option>
                    <option value="false" >Désactive</option>
                </select>
            </div>
        </div>
        <div class="headerBarDiv sortAndAdd">
            <div class="searchInputAndIconDiv sortAndAddOutlineDiv" (click)="openDialog('ajout')">
                <div class="searchIconDiv sortAndAddIconDiv">
                    <img class="searchIcon" src="../../../assets/plusIcon.png" alt="" srcset="">
                </div>
                <p class="searchInput trieAndAddText">Ajouter</p>
            </div>
        </div>
    </header>
    <div class="listElectricien">
        <div class="card" *ngFor="let electricien of searchResult ; let i= index" >
            <div class="cardProfil">
                <div class="profilImgDiv" style="background-image: url(http://localhost{{electricien.photo}});"></div>
                <div class="actionBtnDiv">
                    <input class="btnModifier" type="button" value="Modifier" (click)="openDialog('modif',electricien)" >
                    <input class="btnDesactiver" type="button" [value]="(electricien.active == true) ? 'Désactiver' : 'Activer'" (click)="openDialog('disable',electricien)">
                </div>
            </div>
            <p class="propriete"><span>Prenom : </span>{{electricien.nom}}</p>
            <p class="propriete"><span>Nom : </span>{{electricien.prenom}}</p>
            <p class="propriete"><span>Expérience : </span>{{electricien.experience}}</p>
            <p class="propriete"><span>Email : </span>{{electricien.email}}</p>
            <p class="propriete"><span>Tel : </span>{{electricien.telephone}}</p>
            <div class="ratingDiv">
                <p class="propriete"><span>Note : </span></p>
                <igc-rating  min="1" max="5" size="small" readonly="true" [(ngModel)]="notes[i]" ></igc-rating>
                <p> / {{nmbreNote[i]}}</p>
            </div>
        </div>
    </div>
    <mat-paginator *ngIf="searchResult" [length]="electriciens.length"
              [pageSize]="12"
              aria-label="Select page"
              (page)="getServerData($event)">
    </mat-paginator>
</main>