<div class="logoDiv">
    <img class="logo" src="../../assets/logo_deme.png" alt="" srcset="">
    <div class="titre">
        <p>PANNEAU</p>
        <p>DEME</p>
    </div>
</div>

<main>
    <div class="bodySection">
        <div>
            <p class="leftText">Mot de passe oublié ?</p>
            <p class="leftSubText">Entrez vôtre adresse email avec lequel<br>
                vous avez enregistrer votre compte<br>
            et nous vous enverons un email<br>
            de confirmation pour réinitialiser<br>
            votre compte</p>
        </div>
        <div class="container">
            <div class="titreText">
                <p>PANNE</p>
                <p>
                    AU <br>
                    DEME
                </p>
            </div>
            <form id="myForm" [formGroup]="formForgot" (ngSubmit)="onSubmit()">
                <div class="champ_input">
                    <input [ngStyle]="{'border': submitted && f['email'].errors ? '1px solid red' : null}" type="email"  class="input_focus" id="email" placeholder="" formControlName="email">
                    <label for="email" class="label">Email</label>
                </div>
                <div *ngIf="submitted && f['email'].errors" class="errorDiv">
                    <span *ngIf="submitted && f['email'].errors!['required']">Email requit</span>
                    <span *ngIf="submitted && f['email'].errors!['email']">Email non valid</span>
                    <span *ngIf="submitted && f['email'].errors!['incorrect']">Email incorrectt</span>
                </div>
                <input class="btnSend" type="submit" value="Envoyer code">
            </form>
        </div>
    </div>
</main>