.body {
    display: flex;
    justify-content: space-between;
}
header {
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.logoDiv {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    max-width: 40px;
    max-height: 40px;
}
.titre p {
    font-family: "poppins-bold";
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    line-height: 20px;
    color: rgb(29, 29, 119);
}
.headerRightSection{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.divProfil {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(29, 29, 119);
    border-radius: 50px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.adminPhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url('../../assets/banner_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.adminNom{
    margin-left: 30px;
    margin-right: 30px;
}
.divLogOut{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    background-color: rgb(29, 29, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.logOutIcon {
    width: 24.61px;
    height: auto;
}

#sideBarre{
    max-width: 250px;
    min-width: 250px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-color: white;
    transition: 0.3s all;
    z-index: 10;

}
#iconNext{
    display: none;
}
#menuIconDiv{
    display: none;
}
#iconNext{
    height: 20px;
    width: auto;
}
.menuItem {
    width: 80%;
    font-size: 20px;
    font-family: "poppins-enmBold";
    color: rgb(29, 29, 119);
    margin-top: 10px;
    transition: 0.3s all;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        /* border: 1px solid rgb(29, 29, 119); */
        background-color: rgba(29, 29, 119, 0.144);
        /* border-radius: 25px; */
        transition: .5s all;
        /* padding-left: 5px; */
    }
}
.menuItemSelected {
    width: 75%;
    font-size: 20px;
    font-family: "poppins-enmBold";
    color: white;
    margin-top: 20px;
    background-color: rgb(29, 29, 119);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}
.logSideBarre{
    width: 175px;
    height: 175px;
    opacity: 0.10;
}
.test{
    width: 300px;
    height: 100px;
    background-color: red;
}

.tests{
    width: 100%;
    height: fit-content;
}

@media screen and (max-width : 1090px) {
    #sideBarre{
        position: fixed;
        translate: -230px;
        background-color: white;
        transition: 0.3s all;
    
    }

    #iconNext{
        display: inline;
    }
    #menuIconDiv{
        display: block;
        height: 30px;
        width: 30px;
        background-color: rgb(29, 29, 119);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: -15px;
    }
}

@media screen and (max-width : 767px) {
    
    .logoDiv {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .adminNom{
        display: none;
    }
    .headerRightSection{
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
    }
}